@model Order

<h2>Details for order @Model.OrderId</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="OrderId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.OrderId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="FirstName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="LastName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="AddressLine1"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.AddressLine1
        </dd>
        <dt class="col-sm-2">
            <label asp-for="AddressLine2"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.AddressLine2
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ZipCode"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.ZipCode
        </dd>

        <dt class="col-sm-2">
            <label asp-for="City"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.City
        </dd>
        <dt class="col-sm-2">
            <label asp-for="State"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.State
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Country"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Country
        </dd>
        <dt class="col-sm-2">
            <label asp-for="PhoneNumber"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Email"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            <label asp-for="OrderStatus"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.OrderStatus
        </dd>
        <dt class="col-sm-2">
            <label asp-for="OrderPlaced"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.OrderPlaced.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            <label asp-for="OrderTotal"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.OrderTotal
        </dd>



        <dt class="col-sm-2">
            Pies in this order
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Pie name</th>
                    <th>Amount</th>
                </tr>
                @foreach (var orderDetail in Model.OrderDetails)
                {
                    <tr>
                        <td>
                            @orderDetail.Pie.Name
                        </td>
                        <td>
                            @orderDetail.Amount
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Order" asp-action="Index">Back to overview</a>
</div>