@model CategoryListViewModel

<h2>Categories</h2>
<hr />

@if (TempData["CategoryDeleted"] != null)
{
    <p class="text-success">@TempData["CategoryDeleted"]</p>
}

@if (!Model.Categories.Any())
{
    <tr><td colspan="3" class="text-center">No categories at this point</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        @foreach (var category in Model.Categories)
        {

            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>@category.DateAdded.Value.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.CategoryId">Details</a>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </table>
}
<p>
    <a class="btn btn-primary" asp-action="Add">Add new category</a>
</p>

